<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
    <ion-list lines="full">
        <ion-item class="paddingVertical" *ngFor="let contact of contactUS" (click)="openUrl(contact.titleUrl)" >
          <img [src]="contact.imageUrl" alt="enappd-logo" *ngIf="contact.imageUrl" style="width: 40px;">
            <ion-icon [name]="contact.iconUrl" class="contactIconFontSize" [ngStyle]="{'color':contact.color}" *ngIf="!contact.imageUrl"  ></ion-icon>
          <div class="contactText" padding-start>
            <h5  no-margin class="contactHeading">{{contact.title}}</h5>
          </div>
        </ion-item>
    
      </ion-list>
</ion-content>