/**
 * Ionic 4 Taxi Booking Complete App (https://store.enappd.com/product/taxi-booking-complete-dashboard)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */

.profileHeader {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  line-height: 1.5;
  padding-top: 10px;

  .profileImage {
    width: 80px;
    height: 80px;
  }
  .profileImage:before {
    content: "";
    position: ABSOLUTE;
    width: 80px;
    height: 80px;
    border-radius: 45px;
    background: #0009;
  }

  .drivermemberType {
    color: #9b9b9f;
    font-size: 14px;
  }
}
.detailsItems {
  // --min-height: 30px;
  --padding-start: 8px;
}

.rightArrow {
  width: 16px;
  right: 0;
  position: absolute;
}

.editPhoto {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.cameraIcon {
  position: absolute;
  top: 27px;
  right: 27px;
}

.profileInput {
  --min-height: 30px;
}
h6.input-labels {
  padding-left: 15px;
  margin-top: 10px;
}
