<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> -->
    <ion-title>You have 5 new requests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="contentBgColor">
  <div class="">
    <!-- <ion-item color="secondary">
      <ion-label>You have 10 new requests.</ion-label>
    </ion-item> -->

    <ion-card slot="fixed" class="userCard" no-padding no-margin *ngFor="let user of userRequests;let i = index"
      margin-bottom (click)="userRiderDetails(i)">
      <ion-card-header color="light" class="userCardHeader dFlex">
        <ion-thumbnail>
          <img [src]="user.userImage" class="userIcon">
        </ion-thumbnail>

        <div padding-start>
          <div>
            <ion-label class="textBold">{{user.userName}}</ion-label>
          </div>
        </div>

        <div float-right padding-start class="headerRightContent">
          <div>
            <ion-label class="textBold">{{user.price}}</ion-label>
          </div>
          <div>
            <ion-label class="textBold lightTextColor">{{user.distance}} KM</ion-label>
          </div>
        </div>
      </ion-card-header>

      <ion-card-content color="light" no-margin>
        <div class="borderBottom paddingVertical">
          <div class="detailText fontSmall" text-uppercase>Pick Up</div>
          <ion-label class="detailsLabel textColor textBold">{{user.pickupLocation}} </ion-label>
        </div>

        <div class="borderBottom paddingVertical">
          <div class="detailText fontSmall" text-uppercase>Drop Off</div>
          <ion-label class="detailsLabel  textColor textBold">{{user.dropOffLocation}} </ion-label>
        </div>

        <div class="userCardFooter" *ngIf="user.checked">
          <ion-button color="primary" expand="block" class="textBold boxShadow" (click)="requestAccept()">Accept</ion-button>
        </div>

      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
<ion-footer (click)="requestAccept()">
  <div class="userCardFooter">
    <ion-button color="primary" expand="block" class="textBold boxShadow" (click)="requestAccept()">Cancel</ion-button>
  </div>
</ion-footer>