
/**
 * Ionic 4 Taxi Booking Complete App (https://store.enappd.com/product/taxi-booking-complete-dashboard)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */


.wallet_card{
    display: flex;
    background: white;
    border-radius: 8px;
    box-shadow: 0 5px 3px -2px rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
ion-avatar.abs_avatar{
    width: 55px !important;
    height: 55px !important;
    background: var(--ion-color-warning);
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatar_icon{
  font-size: 30px;
  font-weight: bold;
}
ion-item.no_borderbottom{
--inner-border-width: 0 0 0px 0;
    width: 100% !important;
  }
  .header-md:after {
    left: 0;
    bottom:-1px;
    height: 1px; 
 }

 .cardIcons{
    background: #eee;
    padding: 2%;
 }