/**
 * Ionic 4 Taxi Booking Complete App (https://store.enappd.com/product/taxi-booking-complete-dashboard)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */


#borderimg { 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-radius: 8px;
  box-shadow: none;

}

ion-thumbnail.usercard_thumbnail{
   width: 48px !important;
    height: 48px !important;
    margin: 0px 8px 4px 0px !important;
    // background: red;
    border-radius: 8px;
}

.image_border{
  border-radius: 15px;
}

ion-button.label_button{
    --background: #ffd523;
    --background-focused: #ffd523;
    --color: var(--ion-color-dark,#222428);
    --color-activated: var(--ion-color-dark,#222428);
    --color-focused: var(--ion-color-dark,#222428);
    text-transform: capitalize;
    font-weight: normal;
    font-size: 11px;
    --border-radius: 18px;
    height: 1.8em;
}
ion-button.button_black{
  --background: var(--ion-color-dark,#222428);
    --background-focused: var(--ion-color-dark,#222428);
    --color: var(--ion-color-light);
    --color-activated: var(--ion-color-light);
    --color-focused: var(--ion-color-light);
      font-weight: bold;
}
ion-button.button_yellow{
  --background: #ffd523;
    --background-focused: #ffd523;
    --color: var(--ion-color-dark,#222428);
    --color-activated: var(--ion-color-dark,#222428);
    --color-focused: var(--ion-color-dark,#222428);
      font-weight: bold;
      margin-bottom: 28px
}

ion-content{
  --background: #ffd523 !important;
}
ion-toolbar{
    --background: #ffd523 !important;
}
.header-md:after {
    bottom: 0px;
  }
  
h2{
  font-size: 19px;
    font-weight: bold;
  }

  ion-list-header{
     --color: var(--ion-color-medium-tint);
     min-height: 5px;
   }
   .zig-zag-border-top:after{
		background: linear-gradient(-45deg, transparent 16px, #ffd523 0), linear-gradient(45deg, transparent 16px, #ffd523 0);
    background-repeat: repeat-x;
    background-position: left bottom;
    background-size: 15px 35px;
    content: "";
    display: block;
    width: 100%;
    height: 15px;
    position: relative;
    top: 34px;
    left: 0px;
    z-index: 1;
  }
  .zig-zag-border-bottom{
    background: linear-gradient(-45deg, #ffd523 16px, #ffd523 16px, #ffd523 16px, transparent 0), linear-gradient(45deg, #ffd523 16px, transparent 0);
    background-position: left top;
    background-repeat: repeat-x;
    background-size: 17px 33px;
    content: " ";
    display: block;
    height: 30px;
    width: 100%;
    position: relative;
    bottom: 37px;
    left: 0;
  }