/**
 * Ionic 4 Taxi Booking Complete App (https://store.enappd.com/product/taxi-booking-complete-dashboard)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */



.userCard{
    position: relative;
    width: 100%;
    bottom: 0;
    background: #fff;
    // border-radius: 11px;
    padding-bottom: 5%;
    margin: 0px;
  .userCardHeader{
    box-shadow: 2px 2px 2px #e8e4e4;
  }
  .userDetails{
    background: #1793e6;
    border-radius: 90px;
    display: flex;
    height: 21px;
    padding-left: 12px;
    padding-right: 14px;
    padding-top: 3px;
    padding-bottom: 0;
  }
  .userPayDetails{
    position: absolute;
    right: 12px;
  }
    .userIcon{
      margin: 2%;
      margin-left: 9%;
      border: 1px solid #b9b1b1;
    }
    .userCardFooter{
      float: right;
    }
    .paddingVertical{
      padding: 10px 0px;
    }
    
    .tripItems{
      --padding-start:0;
      --min-height:30px;
    }

    .contactDetails{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .contactIcon{
      font-size: 22px;
      color: #fff;
    }
    .contactTextSize{
      font-size: 12px;
    }
    button.button-native{
     --border-radius: 10px;
    }
    .detailsBtn {
      height: 60px;
      width: 90px;
      --border-radius: 10px;
    }
    .userCall{
      --background: #4AE6B3;
    }

    .userMsg{
      --background: #4051FF;
    }
    .userCancel{
      --background: #BFC4CF;
    }
  }
  .footerTitle{
    --color:#2F363E;
    font-size: 16px;
  }