<ion-header>
  <ion-toolbar color="primary"> </ion-toolbar>
</ion-header>

<div padding class="loginContent">
  <ion-card no-margin margin-top class="loginCard">
    <ion-card-header class="cardHeader">
      <ion-card-title class="headerText" text-center>
        <ion-icon name="close-circle"></ion-icon>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Your documents are not authorized yet. Please come back again!
    </ion-card-content>
  </ion-card>
</div>

<ion-footer>
  <ion-button expand="full" size="large" (click)="logout()">Logout</ion-button>
</ion-footer>
