
/**
 * Ionic 4 Taxi Booking Complete App (https://store.enappd.com/product/taxi-booking-complete-dashboard)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */




// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

ion-app.ion-page {
    font-family: 'PT Sans', sans-serif;
}


ion-title{
  margin-right: 32px !important;
}
ion-content{
  --background: #f0f4f9 !important;
}
h3{
  font-weight: bold !important;
}
.searchbar-input {
    background: #FFF !important;
    border-radius: 30px !important;
    height: 40px !important;
    max-width: 400px;
    font-size: 1.25em !important;
    border: 1px solid transparent;
}
.searchbar-clear-icon.sc-ion-searchbar-md {
    margin-right: 25px !important;
}
.action-sheet-group.sc-ion-action-sheet-md:first-child {
    padding-top: 6px;
    border-radius: 10px !important;
    margin: 10px !important;
}
.action-sheet-button.sc-ion-action-sheet-md {
    padding: 0 16px;
    position: relative;
    height: 52px;
    background: transparent;
    color: #1589FD !important;
    font-size: 20px !important;
}
.action-sheet-button-inner.sc-ion-action-sheet-md {
    -ms-flex-pack: start;
    justify-content: center;
}
.action-sheet-group.sc-ion-action-sheet-md:last-child {
    padding-bottom: 0;
    margin: 0px 10px 10px 10px !important;
    border-radius: 10px;
}