/**
 * Ionic 4 Taxi Booking Complete App (https://store.enappd.com/product/taxi-booking-complete-dashboard)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */


.contentBgColor{
    --background : #F7F8FA !important;
}

.descText{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.notificationsIcons {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 90px;
    border: 1px solid #4051FF;
    position: absolute;
    background: #4051FF;
}
.notificationText{
    padding-left:5%;
    // padding: 1% 18%;
}
.notificationHeading{
    margin-bottom: 3px;
}