 
 
 /**
 * Ionic 4 Taxi Booking Complete App (https://store.enappd.com/product/taxi-booking-complete-dashboard)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */
 
 
 
 ion-searchbar{
      -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
     box-shadow: none !important;
     }

.header-md:after {
    left: 0;
    bottom: -10px;
    height: 1px; 
 }
ion-searchbar.searchbar-input{
     border-radius: 16px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.searchbar_icon{
 position: absolute;
    right: 22px;
    font-size: 26px;
    color: var(--ion-color-medium-shade);
    z-index: 1;
}
.sc-ion-searchbar-md-h{
        --background:rgba(215, 216, 218, 0.24) !important
}
.header-md:after {
    left: 0;
    bottom:-1px;
    height: 1px; 
 }